body{
	background-color: #232121;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.kotak{
	width: 30%;
	margin: 1.66%;
	background-color: red;
	padding-top: 30%;
	float: left;
	border-radius: 35%;
	-webkit-transition: background .5s linear;
	   -moz-transition: background .5s linear;
	    -ms-transition: background .5s linear;
	     -o-transition: background .5s linear;
	        transition: background .5s linear;
}

#container{
	width: 40%;
	margin: 2% auto;
}

#header{
	display: block;
	margin: 0 auto;
}

h1{
	/*color: #2FFB47;*/
	color: white;
	text-align: center;
	background-color: #02A015;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

#colorDisplay{
	font-size: 200%;
}

#message{
	display: inline-block;
	width: 30%;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: #037611;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 0 auto;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
}

#strip{
	background: white;
	height: auto;
	text-align: center;
	padding: 0 auto;
	width: 100%;
}

.selected{
	background-color: #02A015;
	color: white;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	margin: 0 auto;
	padding: 1%;
	font-weight: 700;
	color: #02A015;
	letter-spacing: 1px;
	outline: none;
	font-size: inherit;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}

button:hover{
	color: white;
	background-color: #02A015;
}

a{
	text-decoration: none;
	color: #02A015;
	height: 100%;
}

a:hover{
	color: white;
	background-color: #02A015;
}

/*Tablet*/

@media only screen and (max-width: 1366px) {

	#container{
		width: 45%;
		margin: 2% auto;
	}
}


/*Tablet*/

@media only screen and (max-width: 828px) {

	#container{
		width: 80%;
		margin: 2% auto;
	}
}

/*Smartphone*/
@media only screen and (max-width: 480px) {

	#container{
		width: 100%;
		margin: 1% auto;
	}

	.kotak{
	width: 35%;
	margin: 5% 7.5% 1% 7.5%;
	background-color: red;
	padding-top: 30%;
	float: left;
	border-radius: 30%;
	-webkit-transition: background .5s linear;
	   -moz-transition: background .5s linear;
	    -ms-transition: background .5s linear;
	     -o-transition: background .5s linear;
	        transition: background .5s linear;
	}

	h1{
		font-size: 1em;
	}

	button{
		font-size: 0.8em;
		letter-spacing: 0;
	}

	#message{
		font-size: 0.79em;
		width: 27%;
		height: 100%;
	}

}