body {
    font-family: Open Sans;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 15pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
    font-family: Florence, cursive;
    }

a {
    border: 4px solid #72F7B9;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    background-color: #FFFFFF;
    color: #05590B;
    width: 50%;
    height: 15%;
    margin: 10px 10px 10px 10px;
    box-shadow: 2px 3px 2px #888;
    }


#title {
    font-weight: bold;
}

#quiz {
    text-indent: 10px;
    display:none;
}

/*.button {
    border:4px solid;
    border-radius:5px;
    width: 200px;
    padding: 10px;
    background-color: #DCDCDC;
    color: black;
    margin: 2px 2px 2px 2px;
}*/


#container {
    width:25%;
    margin:auto;
    padding: 15px 15px 15px 15px;
    background-color: #0D6404;
    border:4px solid #FFFFFF;
    border-radius:50px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

.copyright {
            font-size: 8pt;
            text-align: right;
            padding-bottom: 10px;
            color: grey;
        }